*{
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}


@font-face {
    font-family: "Courgette";
    src: url("../Fonts/Courgette-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Sen";
    src: url("../Fonts/Sen-Regular.ttf");
    font-weight: 400;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);

    .home{
        main{
            position:relative;
            min-height:100%;
            height:100%;
            height:auto !important;
            background: url("../img/hotcakes.jpg");
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .contact{
        main{
            position:relative;
            min-height:100%;
            height:100%;
            height:auto !important;
            background: url("../img/souffle.jpg");
            background-blend-mode: multiply;
            background-position: center;
            background-size: cover; 
            background-repeat: no-repeat;
        }
    }

    .menu{
        main{
            position:relative;
            min-height:100%;
            height:100%;
            height:auto !important;
            background-color: antiquewhite;
        }
    }
    

    header{
        .nav-item:last-child{
            padding-right: 10.5em;
        }

        .nav-item{
            padding: 0.9em;
        }

        .navbar-brand{
            padding-left: 8rem;
        }
    }

    footer{
        background-color: antiquewhite;

        h2{
            font-size: 1.2em;
        }

        p{
            font-size: 0.6em;
        }
    }
}

    .inicio .row .col-md-12{
        padding: 22vmin 1vmin;
        padding-bottom: 35vmin;
        
        h1{
            font-family: "Sen";
        font-size: 8vmin;
        font-weight: 700;
        }

        h2{
            font-family: "Courgette";
        font-size: 3vmin;
        font-weight: 400;
        padding: 1vmin;
        letter-spacing: 20px;
        }
    }

    .sectionNosotros{ 
        .row .col-md-6:last-child{
            position: relative;
        }

        .row .col-md-6{
            .Waffles img{
                opacity: 0.8;
                width: 150%;
                border-radius: 0.2em;
            }

            .panel{
                position: absolute;
                top: 7vmin;
                left: -10vmin;
                bottom: 7vmin;
                background-color: antiquewhite;
                border-radius: 3px;
                text-align: left;
                padding: 7vmin 5vmin 20vmin 10vmin;
                box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
            }
        }

        h2{
            font-family: "Courgette";
            font-size: 2.2em;
            font-weight: 400;
            text-align: center;
        }

        p{
            font-family: "Sen";
            font-weight: 400;
            font-size: 1em;  
        }
    }

    .section-sucursal{
        .container h2{
            font-size: 4vmin;
        padding-top: 8vmin;
        font-family: "Sen";
        font-weight: 400;
        }

        .sucursales{
            padding: 10vmin 4vmin;
        }

        .card{
            width: 22rem;
        margin-top: 10vmin;
        }

        .card-title{
            padding: 0.05em;
        font-size: 1em;
        }
    }

    .sectionTable{
        .container{
            margin-top: 10vmin;
        }
    }

    

.main-menu{
    
    .section-1{
        padding: 20vmin;
        background-color: white;
        .row{

            .col-md-6 img{
                    opacity: 0.8;
                    width: 90%;
                    border-radius: 0.2em;
             }

             h2{
                    font-family: "Courgette";
                    font-size: 8vmin;
                    font-weight: 400;
                    padding: 1vmin;
                    letter-spacing: 20px;
            }
         }
    }
}
.section-menu { 
    background-image: linear-gradient( white, antiquewhite); 
        .row{
            .card{
                background-image: radial-gradient(circle, white, antiquewhite);
                transition: 1s;
            }
            .card:hover{
                transform: translatey(-80px);
            }
            img {
                width: 180px;
                border-radius: 40%;
            }

            button {
                font-family: "Courgette";
                font-size: 4vmin;
                width: 12rem;
                height: 10vmin;
                border-radius: 30px;
                background-color: rgb(233, 153, 48);
                cursor: pointer;
            }

            button:hover{
                transition: all 1s ease;
                background-color: antiquewhite;
            }
        }
}
    

form {
        background-color: rgb(251, 216, 171);
        width: 53%;
        height: 400px;
        margin: 0;
        padding: 0;
        overflow: visible;
        position: absolute;
        right: 0;
    }
    

fieldset {
        background-color: rgb(251, 216, 171);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: visible;
        position: absolute;
        right: 0;
        border: 0;
    }

legend{
        text-align: center;
        font-family: "Sen";
        font-size: 30px;
    }

table{
        border-collapse: collapse;
        width: 100%;
        height: 82%;
        font-family: "Sen";
        font-size: 15px;
    }

td{
        padding-left: 20px;
        
        div{
        display: block;
        }
    }

.form_field{
        border: 0;
        border-bottom: 2px solid black;
        width: 90%;
        background: transparent;
        padding: 9px 0;
    }

select {
        font-family: "Sen";
        font-size: 15px;
    }

.enviar{
        display: inline-block;
        width: 300px;
        height: 10%;
        margin-left: 35%;
        margin-top: 10px;
        vertical-align: middle;
        border: black 1px solid;
        overflow: visible;
        background-color: white;
        padding: 0;

    .form_field{
            border: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            padding: 0;
            margin: 0;
            vertical-align: middle;
            cursor: pointer;
            font-family: "Sen";
        }
    }
